@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Regular, Helvetica, Sans-Serif;
  font-size: 12pt;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 22px 30px 22px 30px;
  border-radius: 2%;
  max-width: 260px;
}

.container {
  width: 1408px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
}

.header {
  padding: 7px 0 7px 0;
  height: 140px;
}
.header .header-mob--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header-mob--box li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header .header-mob--box .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  margin-left: auto;
}
.header .header-mob--box .phone li + li {
  margin-left: 100px;
}
.header .header-mob--box nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-mob--box nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-mob--box nav ul li a {
  color: #144470;
}

.phone .phone-number {
  color: #000;
}
.phone .blue-phone-number {
  color: #2A659C;
}

.btn-orange {
  color: #fff;
  background-color: #F08F35;
}

.main-section {
  background: url("Group 694.jpg") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  min-height: 670px;
}
.main-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-section .container h1 {
  font-size: 36pt;
}
.main-section .container a {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 521px;
}
.section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .container h2 {
  font-size: 36pt;
}
.section .container p {
  margin-top: 50px;
}
.section .container .logo-slider {
  margin-left: auto;
}

.product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C2C2C2;
  min-height: 600px;
}
.product-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-section .container h2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 36pt;
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-section .container .product-slider {
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-section .container .product-slider .product-slider--item {
  max-width: 275px;
}
.product-section .container .product-slider .btn {
  display: block;
}

.availible-section {
  background: url("Снимок экрана 2020-06-25 в 12.59 1.jpg") center no-repeat;
  background-size: cover;
}
.availible-section .container {
  min-height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.availible-section .container h2 {
  font-size: 36px;
}
.availible-section .container .availible-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.availible-section .container .availible-items .availible-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.availible-section .container .availible-items .availible-item .availible-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.availible-section .container .availible-items .availible-item h5 {
  color: #6F7278;
  margin-top: 70px;
}
.availible-section .container h5 {
  font-size: 18pt;
}

.article-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article-section p {
  color: black;
}
.article-section span {
  color: #C2C2C2;
}
.article-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article-section .container .article-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.article-section .container .article-list .article-list--item {
  margin: 20px;
}
.article-section .container .article-list .article-list--item p {
  margin-top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #144470;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 110px;
  padding-bottom: 110px;
}
.footer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1056px;
  margin: 25px 0 20px 0;
}
.footer .container .form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .container .form .form-row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 10px;
}
.footer .container .form .form-row .col input {
  min-height: 30px;
}
.footer .container .form .textarea-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}
.footer .container .form .textarea-form-row textarea {
  min-height: 90px;
}
.footer button {
  border: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

@media (max-width: 1680px) {
  .container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px;
  }
}
@media (max-width: 1366px) {
  .container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 936px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px;
  }
}